div{padding:5px; font: 18px bold;}
span{padding:5px; margin:12px; border:5px ridge;
     cursor:pointer; background-color:blue; color:white;}
label{padding:2px; margin:5px; font: 15px bold;}
p{margin:15px 22px;}	 