<!doctype html>
<html ng-app="myApp">
<head>
  <title>AngularJS $http Service</title>
  <style>span, p{color:red; cursor:pointer}</style>
</head>
<body>
  <div ng-controller="myController">
    <h2>$http Service</h2>
    <input type="text" ng-model="newWord" />
    <input type="button" ng-click="addWord()" value="Add Word"/>
    {{status}}
    <div ng-repeat="word in words">
	  {{word}}
	  [<span ng-click="removeWord(word)">remove</span>]
	</div>
   </div>
   <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
   <script src="/js/service_http.js"></script>
</body>
</html>
	